@use 'sass:color';
@use "variables";

body > footer {
    background: variables.$black-primary;
    color: #d2d2d2;
    height: variables.$footer-height;
    padding: 10px 0;

    .container {
        max-width: variables.$max-width;
        padding: 10px 0 0;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }

    p {
        margin: 0;
    }

    a {
        color: #d2d2d2;
        text-decoration: #666 underline;
    }

    svg {
        fill: #d2d2d2;
        vertical-align: text-bottom;
        margin: 0 1px;

        &.heart {
            fill: #e9526b;
        }
    }
}
