@import "variables";

$blue1: #0099b6;
$green1: #71aa00;
$black1: #333;

/* Background */ .bg { color: #272822; background-color: #fafafa; }
/* PreWrapper */ .chroma { color: #272822; background-color: #fafafa; }
/* Other */ .chroma .x {  }
/* Error */ .chroma .err { color: #dd0015; background-color: #1e0010 }
/* CodeLine */ .chroma .cl {  }
/* LineLink */ .chroma .lnlinks { outline: none; text-decoration: none; color: inherit }
/* LineTableTD */ .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
/* LineTable */ .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; }
/* LineHighlight */ .chroma .hl { background-color: #e1e1e1 }
/* LineNumbersTable */ .chroma .lnt { white-space: pre; -webkit-user-select: none; user-select: none; margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f }
/* LineNumbers */ .chroma .ln { white-space: pre; -webkit-user-select: none; user-select: none; margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f }
/* Line */ .chroma .line { display: flex; }
/* Keyword */ .chroma .k { color: $blue1 }
/* KeywordConstant */ .chroma .kc { color: $blue1 }
/* KeywordDeclaration */ .chroma .kd { color: $blue1 }
/* KeywordNamespace */ .chroma .kn { color: $red-primary }
/* KeywordPseudo */ .chroma .kp { color: $blue1 }
/* KeywordReserved */ .chroma .kr { color: $blue1 }
/* KeywordType */ .chroma .kt { color: $blue1 }
/* Name */ .chroma .n { color: $black1 }
/* NameAttribute */ .chroma .na { color: $green1 }
/* NameBuiltin */ .chroma .nb { color: $black1 }
/* NameBuiltinPseudo */ .chroma .bp { color: $black1 }
/* NameClass */ .chroma .nc { color: $green1 }
/* NameConstant */ .chroma .no { color: $blue1 }
/* NameDecorator */ .chroma .nd { color: $green1 }
/* NameEntity */ .chroma .ni { color: $black1 }
/* NameException */ .chroma .ne { color: $green1 }
/* NameFunction */ .chroma .nf { color: $green1 }
/* NameFunctionMagic */ .chroma .fm { color: $black1 }
/* NameLabel */ .chroma .nl { color: $black1 }
/* NameNamespace */ .chroma .nn { color: $black1 }
/* NameOther */ .chroma .nx { color: $green1 }
/* NameProperty */ .chroma .py { color: $black1 }
/* NameTag */ .chroma .nt { color: $red-primary }
/* NameVariable */ .chroma .nv { color: $black1 }
/* NameVariableClass */ .chroma .vc { color: $black1 }
/* NameVariableGlobal */ .chroma .vg { color: $black1 }
/* NameVariableInstance */ .chroma .vi { color: $black1 }
/* NameVariableMagic */ .chroma .vm { color: $black1 }
/* Literal */ .chroma .l { color: #ae81ff }
/* LiteralDate */ .chroma .ld { color: #d88200 }
/* LiteralString */ .chroma .s { color: #d88200 }
/* LiteralStringAffix */ .chroma .sa { color: #d88200 }
/* LiteralStringBacktick */ .chroma .sb { color: #d88200 }
/* LiteralStringChar */ .chroma .sc { color: #d88200 }
/* LiteralStringDelimiter */ .chroma .dl { color: #d88200 }
/* LiteralStringDoc */ .chroma .sd { color: #d88200 }
/* LiteralStringDouble */ .chroma .s2 { color: #d88200 }
/* LiteralStringEscape */ .chroma .se { color: #8045ff }
/* LiteralStringHeredoc */ .chroma .sh { color: #d88200 }
/* LiteralStringInterpol */ .chroma .si { color: #d88200 }
/* LiteralStringOther */ .chroma .sx { color: #d88200 }
/* LiteralStringRegex */ .chroma .sr { color: #d88200 }
/* LiteralStringSingle */ .chroma .s1 { color: #d88200 }
/* LiteralStringSymbol */ .chroma .ss { color: #d88200 }
/* LiteralNumber */ .chroma .m { color: #ae81ff }
/* LiteralNumberBin */ .chroma .mb { color: #ae81ff }
/* LiteralNumberFloat */ .chroma .mf { color: #ae81ff }
/* LiteralNumberHex */ .chroma .mh { color: #ae81ff }
/* LiteralNumberInteger */ .chroma .mi { color: #ae81ff }
/* LiteralNumberIntegerLong */ .chroma .il { color: #ae81ff }
/* LiteralNumberOct */ .chroma .mo { color: #ae81ff }
/* Operator */ .chroma .o { color: $red-primary }
/* OperatorWord */ .chroma .ow { color: $red-primary }
/* Punctuation */ .chroma .p { color: $black1 }
/* Comment */ .chroma .c { color: #75715e }
/* CommentHashbang */ .chroma .ch { color: #75715e }
/* CommentMultiline */ .chroma .cm { color: #75715e }
/* CommentSingle */ .chroma .c1 { color: #75715e }
/* CommentSpecial */ .chroma .cs { color: #75715e }
/* CommentPreproc */ .chroma .cp { color: #75715e }
/* CommentPreprocFile */ .chroma .cpf { color: #75715e }
/* Generic */ .chroma .g {  }
/* GenericDeleted */ .chroma .gd {  }
/* GenericEmph */ .chroma .ge { font-style: italic }
/* GenericError */ .chroma .gr {  }
/* GenericHeading */ .chroma .gh {  }
/* GenericInserted */ .chroma .gi {  }
/* GenericOutput */ .chroma .go {  }
/* GenericPrompt */ .chroma .gp {  }
/* GenericStrong */ .chroma .gs { font-weight: bold }
/* GenericSubheading */ .chroma .gu {  }
/* GenericTraceback */ .chroma .gt {  }
/* GenericUnderline */ .chroma .gl {  }
/* TextWhitespace */ .chroma .w {  }
