@use "reset";
@use "variables";
@use "open-sans";

@use "header";
@use "home";
@use "single";
@use "highlight";
@use "footer";

html,
body {
    min-height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
body {
    color: variables.$black-primary;
    font-family: variables.$font-family-sans-serif;
    font-size: 14px;
    line-height: 1.5;
    background: variables.$white1;
}
main {
    min-height: calc(100vh - #{variables.$header-height + variables.$footer-height});
    margin: 0 auto;
    max-width: variables.$max-width;
    color: #4b505a;
    position: relative;

    a {
        color: variables.$red-primary;
        &:visited {
            color: variables.$red-primary;
        }
    }

    h2 {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 20px;

        &::after {
            content: "";
            display: block;
            margin-top: 10px;
            width: 40px;
            border-bottom: 3px solid variables.$red-primary;
        }
    }

    h2, h3 {
        a,
        a:visited {
            color: variables.$white3;
            margin-left: 5px;
            transition: color 0.15s ease-in-out;
        }
        &:hover {
            a,
            a:visited {
                color: variables.$red-primary;
            }
        }
    }
}
#body {
    min-height: calc(100vh - #{variables.$header-height + variables.$footer-height});
    width: 100%;
    display: inline-block;
    background: #fff;
    padding: variables.$main-padding;
    border-left: 1px solid variables.$main-border-color;
    border-right: 1px solid variables.$main-border-color;

    & > *:first-child {
        margin-top: 0;
    }
}
ul.posts {
    padding-left: 0;

    li {
        list-style-type: none;
        margin-bottom: 5px;
    }
    time {
        display: inline-block;
        width: 180px;
        text-align: right;
        font-size: 0.85em;
        margin-right: 15px;
    }
    div {
        display: inline-block;
        width: calc(100% - 200px);
        vertical-align: top;
    }
    p {
        margin-top: 0;
        font-size: 13px;
        color: #707684;
    }
}

.personal-links {
    padding-left: 0;

    li {
        list-style-type: none;
        display: inline-block;
        margin-right: 10px;
    }

    a {
        display: inline-block;
        border: 1px solid variables.$main-border-color;
        border-radius: 4px;
        padding: 5px 10px;
        color: variables.$blue-primary;
        line-height: 24px;

        &:visited {
            color: variables.$blue-primary;
        }
        &:hover {
            background-color: variables.$blue-primary;
            color: #fff;
            text-decoration: none;
            box-shadow: 0 0 10px 0 variables.$white2;

            svg {
                fill: #fff;
            }
        }
    }
    svg {
        vertical-align: middle;
        fill: variables.$blue-primary;
        margin-right: 5px;
    }
}

kbd {
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #b4b4b4;
    box-shadow:
        0 1px 1px rgba(0, 0, 0, 0.2),
        0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
    color: #333;
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    padding: 1px 4px;
    white-space: nowrap;
}
