@import "variables";

.post {
    $line-height: 19.5px;
    code {
        background: #eceff4;
        padding: 2px 4px;
        border-radius: 4px;
        color: $dark4;
        font-family: courier, monospace;
    }
    pre:not(.chroma),
    div.highlight {
        $negative-margin: 20px;
        border: 1px solid $main-border-color;
        background: #f9fafb;
        margin: 10px #{-$negative-margin};
        padding: 10px $negative-margin;
        border-radius: 5px;
        font-size: 13px;
        overflow-x: auto;

        code {
            background: none;
            padding: 0;
            border-radius: 0;
            line-height: $line-height;
        }
    }
    div.highlight {
        .lnt {
            color: #b0b7c6;
            font-family: $font-family-sans-serif;
            font-size: 13px;
            display: block;
            line-height: $line-height;
        }
        pre {
            margin: 0;
        }
    }

    figure {
        display: table;
        margin: 1em auto;
        img {
            box-shadow: 0 0 20px 0 $white2;
        }
        figcaption {
            margin-top: 5px;
            text-align: center;
            color: #8793ab;
        }
    }

    .footnotes {
        margin: $main-padding #{-$main-padding} 0;
        padding: $main-padding $main-padding 0;
        border-top: 1px solid $main-border-color;
        counter-reset: counter-footnotes;
        list-style-type: none;
        li {
            margin-bottom: 2px;
            &::before {
                content: 'Footnote ' counter(counter-footnotes, decimal) ': ';
                counter-increment: counter-footnotes;
                font-size: 12px;
                color: #3b566a;
            }
            &:target {
                background-color: #ffffcc;
            }
        }
    }
}
