@import "variables";

.post {
    $line-height: 19.5px;
    code {
        background: #eceff4;
        padding: 2px 4px;
        border-radius: 4px;
        color: $dark4;
        font-family: courier, monospace;
    }

    .qcode {
        $negative-margin: 20px;
        border: 1px solid $main-border-color;
        background: #f9fafb;
        margin: 2em #{-$negative-margin};
        padding: 0;
        border-radius: 5px;
        font-size: 13px;
        overflow-x: auto;

        header {
            border-bottom: 1px solid $main-border-color;
            padding: 10px 20px;
            background: #f1f3f6;
            font-size: 1.1em;

            img {
                height: 2em;
                vertical-align: middle;
                display: inline-block;
                margin-right: 20px;
            }
        }
        & > pre {
            // For simple code blocks, not syntax highlighted
            padding: 3px 6px;
        }
        code {
            background: none;
            padding: 0;
            border-radius: 0;
            line-height: $line-height;
        }
        table {
            width: 100%;
            margin: 10px 0;
        }
        .lnt {
            color: #b0b7c6;
            font-family: $font-family-sans-serif;
            font-size: 13px;
            display: block;
            line-height: $line-height;
        }
        pre {
            margin: 0;
        }
        .lnt {
            border-left: 2px solid #f9fafb;
        }
        .hl > .lnt {
            border-left: 2px solid #5596e6;
        }
        .hl > .lnt,
        .line.hl {
            background: #dde9f6;
        }
        .chroma .lnt {
            margin-right: 0;
        }
    }

    pre:not(.chroma),
    div.highlight {
        $negative-margin: 20px;
    }

    figure {
        display: table;
        margin: 2em auto;
        img {
            box-shadow: 0 0 20px 0 $white2;
        }
        figcaption {
            margin-top: 5px;
            text-align: center;
            color: #8793ab;
        }
    }

    .footnotes {
        margin: $main-padding #{-$main-padding} 0;
        padding: $main-padding $main-padding 0;
        border-top: 1px solid $main-border-color;
        counter-reset: counter-footnotes;
        list-style-type: none;
        li {
            margin-bottom: 2px;
            &::before {
                content: 'Footnote ' counter(counter-footnotes, decimal) ': ';
                counter-increment: counter-footnotes;
                font-size: 12px;
                color: #3b566a;
            }
            &:target {
                background-color: #ffffcc;
            }
        }
    }

    p + h2,
    ul + h2,
    ol + h2,
    figure + h2,
    pre + h2,
    div + h2 {
        margin-top: 2em;
    }

    p + h3,
    ul + h3,
    ol + h3,
    figure + h3,
    pre + h3,
    div + h3 {
        margin-top: 1.2em;
    }

    table:not(.lntable) {
        border-collapse: collapse;
        text-align: left;
        margin: .2em auto;

        tr {
            border-bottom: 1px solid;
        }
        th,
        td {
            border: 1px solid lightgrey;
            padding: 0.25rem 0.75rem;
        }
        thead {
            border-bottom: 2px solid #a2a6af;
            background: whitesmoke;
        }
    }
}

@media (min-width: 1500px) {
    // Make the ToC sticky on the right side when the screen is large enough
    #TableOfContents {
        position: sticky;
        top: 1em;

        ul {
            // All levels of titles
            padding-left: 0;
            margin: 0;
            list-style-type: "•";
            list-style-position: outside;

            li {
                margin-bottom: 0.4em;
                padding-left: 5px;
                color: $blue-primary;
            }
        }

        & > ul {
            // First level of titles (h2)
            position: absolute;
            left: calc(100% + $main-padding);
            top: 0;
            width: 230px;
            background: #f4f5f7;
            border-top: 1px solid $main-border-color;
            border-right: 1px solid $main-border-color;
            border-bottom: 1px solid $main-border-color;
            border-left: 1px solid #e8eef9;
            border-top-right-radius: 1em;
            border-bottom-right-radius: 1em;
            padding: 1em;

            &::before {
                content: 'Table of Contents';
                display: block;
                margin-bottom: 1em;
                color: #98a3b7;
            }

            ul {
                // Second level of titles (h3)
                padding-left: 1em;
                font-size: 0.9em;
                margin-top: 0.4em;
            }
        }
    }
}

@media (max-width: 1500px) {
    #TableOfContents {
        display: none;
    }
}
