/* Colors */
$blue-primary: #5E81AC;
$red-primary: #ca2f3e;
$black-primary: #333;
$white-primary: #f5f5f5;
$white1: #ECEFF4;
$white2: #E5E9F0;
$white3: #D8DEE9;
$dark1: #2E3440;
$dark2: #3B4252;
$dark3: #434C5E;
$dark4: #4C566A;
$main-border-color: $white3;

/* Fonts */
$font-family-sans-serif: 'Open Sans', sans-serif;

/* Sizes */
$header-height: 200px;
$footer-height: 85px;
$max-width: 1000px;
$main-padding: 40px;
